<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Sam Towel</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="w3-container">
      {% block navbar %}
        <div class="w3-bar w3-black">
          <!-- TODO: Update these links -->
          <a href="{% url 'index' %}" class="w3-bar-item w3-button">Home</a>
          <a href="{% url 'index' %}" class="w3-bar-item w3-button">Skiers</a>
          <a href="{% url 'index' %}" class="w3-bar-item w3-button">Message Board</a>
        </div>
      {% endblock %}
      <div class="col-sm-12">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>

<style>
  .w3-container
  {
    max-width: 1200px;
    margin: auto;

  }
</style>